modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[objectStorage]
defaultBucketID = "replit-objstore-dd66c733-0f77-4149-9248-5f6cdb3401d3"

[userenv]

[userenv.shared]
REPLIT_OBJECT_STORAGE_BUCKET = "replit-objstore-dd66c733-0f77-4149-9248-5f6cdb3401d3"
